@charset "utf-8";



@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .wrapper {
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .hex {
    width: 20vw;
    height: calc(20vw*1.7430);
    margin: .2vw;
    position: absolute;
    /* position: relative; */
    overflow: hidden !important;
    transform: rotate(60deg);
  }
  .hex-inner1 {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    overflow: hidden;
  }
  .hex-inner2 {
    display: flex;
    width: inherit;
    height: inherit;
    background-size: cover !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-120deg);
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  /* .hex:nth-of-type(n+5) {
    margin-top: -17.3vw;
  } */
  p {
    color: #fff;
    padding: 10px;
    font: normal 20px "TmonMonsori";
    text-shadow: 3px 5px 0 rgb(20, 127, 214);
  }

  .hex:nth-child(1){
    left: 25%; top: 700px;
    animation: hex1 30s ease infinite;
  }
  .hex:nth-child(2){
    left: 60%; top: 700px;
    animation: hex2 30s ease infinite;
  }
  .hex:nth-child(3){
    left: 10%; top: 1000px;
    animation: hex3 30s ease infinite;
  }
  .hex:nth-child(4){
    left: 75%; top: 1000px;
    animation: hex4 30s ease infinite;
  }
  .hex:nth-child(5){
    left: 25%; top: 1300px;
    animation: hex5 30s ease infinite;
  }
  .hex:nth-child(6){
    left: 60%; top: 1300px;
    animation: hex6 30s ease infinite;
  }
  @keyframes hex1 {
    15%{left: 60%; top: 700px;}
    30%{left: 75%; top: 1000px;}
    45%{left: 60%; top: 1300px;}
    60%{left: 25%; top: 1300px;}
    75%{left: 10%; top: 1000px;}
    100%{left: 25%; top: 700px;}
}
@keyframes hex2 {
    15%{left: 75%; top: 1000px;}
    30%{left: 60%; top: 1300px;}
    45%{left: 25%; top: 1300px;}
    60%{left: 10%; top: 1000px;}
    75%{left: 25%; top: 700px;}
    100%{left: 60%; top: 700px;}
}
@keyframes hex3 {
    15%{left: 25%; top: 700px;}
    30%{left: 60%; top: 700px;}
    45%{left: 75%; top: 1000px;}
    60%{left: 60%; top: 1300px;}
    75%{left: 25%; top: 1300px;}
    100%{left: 10%; top: 1000px;}
}
@keyframes hex4 {
    15%{left: 60%; top: 1300px;}
    30%{left: 25%; top: 1300px;}
    45%{left: 10%; top: 1000px;}
    60%{left: 25%; top: 700px;}
    75%{left: 60%; top: 700px;}
    100%{left: 75%; top: 1000px;}
}
@keyframes hex5 {
    15%{left: 10%; top: 1000px;}
    30%{left: 25%; top: 700px;}
    45%{left: 60%; top: 700px;}
    60%{left: 75%; top: 1000px;}
    75%{left: 60%; top: 1300px;}
    100%{left: 25%; top: 1300px;}
}
@keyframes hex6 {
    15%{left: 25%; top: 1300px;}
    30%{left: 10%; top: 1000px;}
    45%{left: 25%; top: 700px;}
    60%{left: 60%; top: 700px;}
    75%{left: 75%; top: 1000px;}
    100%{left: 60%; top: 1300px;}
}








.business-wrapper{
    /* margin: 10vh auto;/ */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    padding: 50px 2%;
}
.business-item{
    width: 20vw;
    height: calc(20vw*1.7430);
    /* margin: .2vw; */
    position: absolute;
    overflow: hidden !important;
    transform: rotate(60deg);
}
.business-inner{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    overflow: hidden;
}
.business-inner2{
    display: flex;
    width: inherit;
    height: inherit;
    background-size: cover !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-120deg);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.business-inner2 p{
    color: #fff;
    padding: 10px;
    font: normal 20px "TmonMonsori";
    text-shadow: 3px 5px 0 rgb(20, 127, 214);
}
.business-item:nth-child(1){
    left: 25%; top: 10px;
    animation: hex1 30s ease infinite;
}
.business-item:nth-child(2){
    left: 60%; top: 10px;
    animation: hex2 30s ease infinite;
}
.business-item:nth-child(3){
    left: 10%; top: 250px;
    animation: hex3 30s ease infinite;
}
.business-item:nth-child(4){
    left: 75%; top: 250px;
    animation: hex4 30s ease infinite;
}
.business-item:nth-child(5){
    left: 25%; top: 500px;
    animation: hex5 30s ease infinite;
}
.business-item:nth-child(6){
    left: 60%; top: 500px;
    animation: hex6 30s ease infinite;
}